body{
    background-position: 0; 
    color: whitesmoke;
}
.header{
    background-color:#ffffff;
    position: fixed;
    padding-top: 0.20cm;
    top: 0;
    left: 0;
    right: 0;
    border-style: inset;
    border-width: 1px;
    border-color: #CFD3C9;
    padding-bottom: 0.25cm;
}

.tipo4{
    margin-left: 62.75%;
    width: 200px;
    height: 30px;
    border-radius: 9px;
    padding-top: -1cm;
    padding-left: 2.3cm;
    background-color: rgb(216, 185, 98);
    color: black;
    font-family: Tahoma;
    font-size: 22px;
    margin-top: -10.5cm;
}

.tipo3{
    margin-left: 64.75%;
    width: 200px;
    height: 30px;
    border-radius: 9px;
    padding-top: -1cm;
    padding-left: 1.3cm;
    background-color: rgb(98, 216, 98);
    color: black;
    font-family: Tahoma;
    font-size: 22px;
    margin-top: -10.5cm;
}

.tipo2{
    margin-top: 2cm;
    margin-left: 57.75%;
    width: 380px;
    height: 30px;
    border-radius: 9px;
    padding-left: 0.50cm;
    background-color: rgb(255, 132, 132);
    color: black;
    font-family: Tahoma;
    font-size: 22px;
}

.tipoaux{
    margin-top: -10.5cm;
    margin-left: 57.75%;
    width: 380px;
    height: 30px;
    border-radius: 9px;
    font-family: Tahoma;
    font-size: 22px;
    color: ghostwhite;
}

.input{
    margin-top: 3cm;
    background-color: burlywood;
    border-radius:22px;
    width: 12.4cm;
    height: 5.5cm;
    display: flex;
}

#label-cadena{
    color: black;
    font-family: Tahoma;
    font-size: 22px;
}

#label-velocidad{
    color: black;
    font-family: Tahoma;
    font-size: 18px;
}

.container2{
    margin-top: -5.60cm;
    margin-left: -5.25cm;
}

.container2 .sele-velo{
    display: flex;
   
}

div #selector{
    margin-top: -10cm;
}

#selector{
    border-radius: 5px;
    border-color: black
}

div .select-fixed{
    background-color: white;
    margin-top: -10cm;
}

#c,#p, #d, #r{
    padding: 0.25cm .5cm;
    border-radius: 9px;
    border-color: black;
    background-color: black;
    font-family: Tahoma;
    font-size: 14px;
    color: white;
}

.botones #label-velocidad{
    padding-left: 0.50cm;
}

.botones select{
    border: 2px solid;
    border-radius: 5px;
    border-color: black;
}

#Palabra{
    resize: none;
    overflow: hidden;
    font-family: Tahoma;
    padding:0.25cm 0.5cm;
    font-size: 20px;
    border-radius: 9px;
    border-color: black;
}

#error{
    font-size: 18px;
    margin-top: -5.25cm;
    color: black;
    margin-bottom: 5cm;
}

.text-area{
    border-color: gray;
    width: 30px;
    height: 30px;
    padding-left: 9px;
    resize: none;
    font-size: 18px;
    font-family: tahoma;
    overflow: hidden;
}

#Grafo{
    border-radius: 15px;
}

#p, #d, #r{
    margin-left:0.65cm;
    margin-bottom: 4cm;
}

#contenedor{
    margin-top: 2cm;
}

.input div #label-cadena{
    margin-left: 5cm;
}

.input div #Palabra{
    margin-top: 0.35cm;
    margin-left: 2.5cm;
}

.input #c{
    margin-top: 0.75cm;
    margin-left: 4.35cm;
}

.input div{ 
    align-items: center; 
    justify-content: center;
    padding-top: 0.5cm;
}

.container .botones{
    margin-top: 0.5cm;
    margin-left: 0.75cm;
}

.container .input{
    margin-left: 55%;
}

.container #Grafo{
    margin-top: -5.5cm;
    margin-left: 7%;
}
